*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    z-index: 1000;
}
.containerbox {
display: flex;
margin-top: 110px;
width: 95%;
float: right;
}
#textArea{
    width: 92%;
    float: left;
    margin-left: 10px;
}
.containerbox .column .textButton{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    flex: 1;
    width: 70px;
    height: 30px;
    border: solid 1px whitesmoke;
}

.column {
    background: rgba(190, 163, 163, 0.2);
    backdrop-filter: blur(5px);
    padding: 10px;
    height: 300px;
    border: solid 5px;
    border-color: rgb(240, 210, 199);
    margin-right: 1px;
    overflow: hidden;
    flex: 1;
}
.column h3{
    color: aliceblue;
    font: bold;
}
.column h4{
    color: azure;
}
.navbar .search-container {
    float: right;
}

.navbar input[type=text] {
padding: 6px;
font-size: 17px;
border: none;
float: right;
margin-right: 40px;
margin-top: -30px;
}
  
.navbar .search-container button {
margin-top: -30px;
float: right;
padding: 6px 10px;
background: #6cb9f8;
font-size: 17px;
border: none;
cursor: pointer;
}

.topnav .search-container button:hover {
background: #ce4921;
}
  
.navbar a.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
    margin-left: 120px;
    margin-top: 40px;
}
body{
    background-image: url(icons/bgimg3.jpg);
    background-position: center;
    background-size: cover;
    
}
.Sidebar{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    height: 100vh;
    /* backdrop-filter: blur(3px); */
    
}
.side-nav{
    width: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.20s;
    z-index: 1000;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 1000;
}
.user div{
    display: none ;
    z-index: 1000;
}
.user h2{
    color: blueviolet;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    z-index: 1000;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
    z-index: 1000;
}
.star-img{
    width: 20px;
    display: none;
    z-index: 1000;
}
ul{
    list-style: none;
    padding: 0 15px;
    z-index: 1000;
}
ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-right: 0px;
}
ul li p{
    white-space: nowrap;
    display: none;
    color: white;
    font:bold;
}
.side-nav:hover{
    width: 250px;
} 
.side-nav:hover .user div{
    display: block;
}
.side-nav:hover .user{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.side-nav:hover .star-img{
    display: block;
}
.side-nav:hover .user-img{
    margin: 0 ;
}
.side-nav:hover ul li p{
    display: block;
}
.side-nav:hover ul li img{
    margin-right: 10px;
}
.side-nav:hover ul li{
    justify-content: flex-start;
    transition: 0.30s;
}
.outputdiv{
    background-color: rgba(241, 215, 215, 0.2);
    backdrop-filter: blur(40px);
    padding: 10px 10px;
    align-content: center;
    width: 140px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    border: solid white 2px;
}
