
  *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  a:hover{
    color: white;
  }
  
  .header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 10px;
    background-color: rgba(36,65,185,1.0);
  }
  .header-margin{
    height: 80px;
    width: 90%;
  }
  
  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  .nav_item {
    height: 100%;
    column-gap: 20px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav_link{
    color: white;
    text-decoration: none;
  }
  .nav_link:hover{
    font-weight: 600;
    transition: ease-in-out 0.4ms;
    color: white;
    text-decoration: none;
  }
  .button {
    height: 100%;
    color: white;
  }

  .login-button{
    padding: 6px 24px;
    color: white;
    border: 2px solid rgba(18,216,121,1.0);
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }
  
  /* logo */
  .logo-div{
    width: 18%;
    display: flex;
  }
  .logo-brackets h3{
    color: rgba(18,216,121,1.0);
    font-size: 60px;
  }
  
  .nav_logo{
    font-size: 25px;
    text-decoration: none;
    color: white;
  }
  .nav_logo:hover{
    
    font-size: 25px;
    text-decoration: none;
    color: rgb(20, 179, 47);
  }
  .button {
    padding: 6px 24px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }
  .button:active {
    transform: scale(0.98);
  }